
.header {
  padding-top: 40px;
  padding-right: 32px;
  display: flex;
  flex-direction: row;
  margin-left: 340px;
  justify-content: space-between;

  & h1 {
    font-weight: 700;
    font-size: 36px;
    line-height: 46px;
    padding-bottom: 0;
  }
}


